.main {
    height: 500px;
    position: relative;
    width: 360px;
    left: 25px;
    top: 250px;
    /* background-color: red; */
}


.image {
    height: 500px;
    width: 360px;
    cursor: pointer;
    /* background-color: black; */
    /* opacity: .6; */

    
}

.title {
    /* background-color: blue; */
    position: absolute;
    bottom: 30px;
    z-index: 999;
}

@media screen and (min-width: 500px) {
    .main {
        /* background-color: blue; */
        position: relative;
        height: 550px;
        left: 80px;
    }
    .image {
        height: 550px;
    }
}

@media screen and (min-width: 590px) {
    .main {
        width: 390px;
        /* background-color: green; */
        position: relative;
        left: 325px;
        top: 20px;
        height: 790px;
    }
    .image {
        height: 790px;
        width: 390px;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        width: 880px;
        /* background-color: yellow; */
        position: relative;
        left: 425px;
        top: 20px;
        height: 790px;
    }
    .image {
        height: 790px;
        width: 880px;
    }
}


