 .container {
   width: 140px;
   height: 400px;
} 

.image {
  width: 100%;
  height: 550px;
}

.notfound {
  text-align: center;
}

.notfound a {
  color: blue;
}

.notfound a:hover {
  text-decoration: underline;
}


